{% if daemon_family is not defined or daemon_family != 'btcd' %}
server=1
listen=1
{% endif %}
rpcuser=
{% if daemon_family is defined and daemon_family == 'btcd' %}
rpcpass=
{% else %}
rpcpassword=
{% endif %}
{% if testnet is not defined %}
{% if daemon_family is not defined or daemon_family != 'btcd' %}
rpcallowip=127.0.0.1
{% endif %}
port={{ p2pPort }}
rpcport={{ rpcPort }}
{% elif testnet is sameas true %}
testnet=1 
{% endif %}
{% if txindex is defined %}
txindex={{ txindex }}
{% endif %}
{% if debug is defined %}
debug={{ debug }}
{% endif %}
{% if enableaccounts is defined %}
enableaccounts={{ enableaccounts }}
{% endif %}
{% if staking is defined %}
staking={{ staking }}
{% endif %}
{% if blocksonly is defined %}
blocksonly={{ blocksonly }}
{% endif %}
{% if walletbroadcast is defined %}
walletbroadcast={{ walletbroadcast }}
{% endif %}
{% if prune is defined %}
prune={{ prune }}
{% endif %}
{% if daemon is defined %}
daemon={{ daemon }}
{% endif %}

{% if legacy is defined and legacy is sameas true %}
# Legacy addresses must be used
addresstype=legacy
changetype=legacy
{% endif %}

{% if deprecatedrpc is defined and deprecatedrpc is sameas true %} 
# Enable deprecated calls
deprecatedrpc=signrawtransaction
{% elif deprecatedrpc is defined and deprecatedrpc is string %} 
# Enable deprecated calls
deprecatedrpc={{ deprecatedrpc }}
{% endif %}

{% if rpcserialversion is defined and rpcserialversion is number %}
# Enable rpcserialversion
rpcserialversion={{ rpcserialversion }}
{% endif %}

{% if testnet is defined and testnet is sameas true %}
[test]
{% if daemon_family is not defined or daemon_family != 'btcd' %}
rpcallowip=127.0.0.1
{% endif %}
port={{ p2pPort }}
rpcport={{ rpcPort }}
{% endif %}

