{
    "DOGEC": {
        "Title": "DogeCash",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(51576)}}",
        "p2pPort": "{{ p2pPort|default(56740)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "30",
        "ScriptPrefix": "19",
        "SecretPrefix": "122",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "2500",
        "BlockTime": "60",
        "TxVersion": "1",
        "FeePerByte": "25",
        "Confirmations": "0",
        "versions": {
            "5.5.1": {
                "legacy": false,
                "xbridge_conf": "dogecash--5.5.1.conf",
                "wallet_conf": "dogecash--5.5.1.conf",
                "txindex": "1"
            }
        }
    }
}