{
    "LBC": {
        "Title": "LBRYCredits",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(9245)}}",
        "p2pPort": "{{ p2pPort|default(9246)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "85",
        "ScriptPrefix": "122",
        "SecretPrefix": "28",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "false",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "10000",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "20",
        "Confirmations": "0",
        "versions": {
            "v0.22.120": {
                "legacy": false,
                "xbridge_conf": "lbcd--v0.22.120.conf",
                "wallet_conf": "lbcd--v0.22.120.conf",
                "txindex": "1"
            }
        }
    }
}