{
    "LYNX": {
        "Title": "Lynx",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8332)}}",
        "p2pPort": "{{ p2pPort|default(22566)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "45",
        "ScriptPrefix": "22",
        "SecretPrefix": "173",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "100000000",
        "BlockTime": "300",
        "TxVersion": "1",
        "FeePerByte": "200000",
        "Confirmations": "0",
        "versions": {
            "v28.0.0": {
                "legacy": true,
                "xbridge_conf": "lynx--v28.0.0.conf",
                "wallet_conf": "lynx--v28.0.0.conf",
                "txindex": "1",
                "rpcserialversion": 1
            }
        }
    }
}