{
    "NMC": {
        "Title": "Namecoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8336)}}",
        "p2pPort": "{{ p2pPort|default(8334)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "52",
        "ScriptPrefix": "13",
        "SecretPrefix": "180",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "false",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "67800",
        "BlockTime": "600",
        "TxVersion": "1",
        "FeePerByte": "150",
        "Confirmations": "0",
        "versions": {
            "nc31.1": {
                "legacy": false,
                "xbridge_conf": "namecoin--nc31.1.conf",
                "wallet_conf": "namecoin--nc31.1.conf",
                "txindex": "1"
            }
        }
    }
}