{
    "PART": {
        "Title": "Particl",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(51735)}}",
        "p2pPort": "{{ p2pPort|default(51738)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "56",
        "ScriptPrefix": "60",
        "SecretPrefix": "108",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "PART",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "678",
        "BlockTime": "120",
        "TxVersion": "160",
        "FeePerByte": "2",
        "Confirmations": "0",
        "versions": {
            "v23.2.10.0": {
                "legacy": true,
                "xbridge_conf": "particl--v23.2.10.0.conf",
                "wallet_conf": "particl--v23.2.10.0.conf",
                "txindex": "1"
            }
        }
    }
}