{
    "SYS": {
        "Title": "Syscoin",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(8370)}}",
        "p2pPort": "{{ p2pPort|default(8369)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "63",
        "ScriptPrefix": "5",
        "SecretPrefix": "128",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "678",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "2",
        "Confirmations": "0",
        "versions": {
            "v5.1.0": {
                "legacy": true,
                "xbridge_conf": "syscoin--v5.1.0.conf",
                "wallet_conf": "syscoin--v5.1.0.conf",
                "txindex": "1",
                "prune": "0"
            },
            "v5.1.1": {
                "legacy": true,
                "xbridge_conf": "syscoin--v5.1.0.conf",
                "wallet_conf": "syscoin--v5.1.0.conf",
                "txindex": "1",
                "prune": "0"
            },
            "v5.1.2": {
                "legacy": true,
                "xbridge_conf": "syscoin--v5.1.0.conf",
                "wallet_conf": "syscoin--v5.1.0.conf",
                "txindex": "1",
                "prune": "0"
            }
        }
    }
}