{
    "TSYS": {
        "Title": "Syscoin Testnet",
        "Address": "",
        "Ip": "127.0.0.1",
        "rpcPort": "{{ rpcPort|default(18370)}}",
        "p2pPort": "{{ p2pPort|default(18369)}}",
        "Username": "{{ rpcusername }}",
        "Password": "{{ rpcpassword }}",
        "AddressPrefix": "65",
        "ScriptPrefix": "196",
        "SecretPrefix": "239",
        "COIN": "100000000",
        "MinimumAmount": "0",
        "DustAmount": "0",
        "CreateTxMethod": "BTC",
        "GetNewKeySupported": "true",
        "ImportWithNoScanSupported": "true",
        "MinTxFee": "678",
        "BlockTime": "150",
        "TxVersion": "1",
        "FeePerByte": "2",
        "Confirmations": "0",
        "versions": {
            "v5.1.0": {
                "legacy": true,
                "xbridge_conf": "systest--v5.1.0.conf",
                "wallet_conf": "systest--v5.1.0.conf",
                "testnet": true,
                "txindex": "1"
            },
            "v5.1.1": {
                "legacy": true,
                "xbridge_conf": "systest--v5.1.0.conf",
                "wallet_conf": "systest--v5.1.0.conf",
                "testnet": true,
                "txindex": "1"
            },
            "v5.1.2": {
                "legacy": true,
                "xbridge_conf": "systest--v5.1.0.conf",
                "wallet_conf": "systest--v5.1.0.conf",
                "testnet": true,
                "txindex": "1"
            }
        }
    }
}